$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$neutral1: #232224;
$neutral2: #161617;
$neutral3: #353436;
$neutral4: #fff;
$neutral5: transparent;
$neutral6: #fefbff;

$auxiliary-normal: #d94140;
$auxiliary-dark: #b42b2b;
$auxiliary-light: #d34040;
